.pro-edu {
    font-size: 2rem;
    font-weight: 600;
}

.cr-brightness img {
    filter: brightness(40%);
}

@media only screen and (max-width: 576px) {
    body {
        background-color: lightblue;
    }

    .hole-crd,
    .hole-crs {
        padding: 2rem;
    }

    .crd-info {
        padding: 1rem 3rem 0rem 0rem;
    }

    .corces-img img {
        width: 100%;
    }

}